<section class="mb-8">
  <div class="space-y-4 px-4">
      <p class="text-base md:text-xl space-y-1 text-justify">
        Feel free to reach me out to via email to <strong>frhanhanif@gmail.com</strong>, or connect with me on
        <a href="https://www.linkedin.com/in/frhanhanif/" class="link hover:text-blue-800" target="_blank" rel="noopener noreferrer">
          <strong>LinkedIn</strong>
        </a>
      </p>
  </div>
</section>