---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import { menuItems } from "src/data/menu";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-2 pt-2 h-auto min-h-full w-[16rem] bg-base-200 text-base-content flex flex-col">
    <ul class="menu grow shrink menu-md overflow-y-auto flex flex-col items-center justify-center">
      {menuItems.map(item => (
        <li>
          <a class="btn btn-ghost normal-case text-2xl m-4" id={item.id} href={item.href}>
            {item.label}
          </a>
        </li>
      ))}
    </ul>
  </aside>
</div>
